<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>
<body>
    <div id="screen">
        <div class="header">
            <h1>Build Your Own Customized Trip Planner</h1>
            <input type="button" id="print" value="Print" onclick="window.print()">
        </div>
        <form class="form">
            <label for="travel">From</label>
            <input type="text" id="travel-from" name="travel-from" placeholder="What city do you want to travel from?">
            <label for="travel">To</label>
            <input type="text" id="travel-to" name="travel-to" placeholder="Where do you want to go?">
            <label for="travel">Depart</label>
            <input type="date" id="travel-depart" name="travel-depart">
            <label for="travel">Return</label>
            <input type="date" id="travel-return" name="travel-returns">
            <input type="submit" value="Submit" id="submit" >
        </form>
        <div class="dynamic-contents" id="update">
            <h1>Your Travel Information</h1>
            <div class="table">
                <table id="general-info">
                    <colgroup span="8"></colgroup>
                    <tr>
                    <th>Country</th>
                    <th>Capitals</th>
                    <th>Population</th>
                    <th>Language</th>
                    <th>Currency</th>
                    <th>Weather(°C)</th>
                    <th>Departure(days)</th>
                    <th>duration(days)</th>
                    </tr>
                    <tr>
                    <td id="country"></td>
                    <td id="capital"></td>
                    <td id="population"></td>
                    <td id="language"></td>
                    <td id="currency"></td>
                    <td id="weather"></td>
                    <td id="departure"></td>
                    <td id="duration"></td>
                    </tr>
                
                </table>
            </div>

        </div>
        <div class="images">
            
        </div>
        
    </div>  
</body>
</html>