#screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(0.5fr, 1fr, 1fr, 0.5fr);
  grid-template-areas:
    "a a"
    "b d"
    "b d"
    "c c";
  background-color: #022638;
  color: white;
  align-items: center;
  padding: 5px;
}

.header {
  padding: 10px;
  grid-area: a;
  display: block;
  #print {
    &:hover {
      cursor: pointer;
    }
    background-color: #4ab879;
    color: white;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  grid-area: b;
  #travel-from {
    width: 80%;
    height: 40px;
  }
  #travel-to {
    width: 80%;
    height: 40px;
  }
  #travel-depart {
    width: 80%;
    height: 40px;
  }
  #travel-return {
    width: 80%;
    height: 40px;
  }
  #submit {
    &:hover {
      cursor: pointer;
    }

    color: white;
    width: 80%;
    height: 40px;
    background-color: #4ab879;
    margin-top: 30px;
  }
}

.dynamic-contents {
  padding: 10px;
  grid-area: c;
}

.images {
  grid-area: d;
  padding: 10px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
h1 {
  border-bottom: 0.1rem grey solid;
}
table,
th,
td {
  border: 1px solid #4ab879;
}

@media (max-width: 600px) {
  #screen {
    display: grid;
    grid-template-columns: minmax(350px, auto);
    grid-template-rows: repeat(300px, auto);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }

  .table {
    overflow-x: auto;
  }
}
